<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
</head>
<body>

<div>
    <p>hahah</p>
    <audio id="scene_audio" loop="loop"
           src="http://file2.zuiku.com/2016/02/01/15/85694_bd67cb8427ea6c68d11e0894aa2f90c5.mp3"></audio>
</div>
</body>
<script type="text/javascript">
    scene_audio.play();
</script>
</html>
